@font-face {
  font-family: Gotham-Font;
  src: url("./fonts/Gotham-Bold.otf");
  src: url("./fonts/Gotham-BookItalic.otf");
  src: url("./fonts/GothamBold.ttf");
  src: url("./fonts/GothamBoldItalic.ttf");
  src: url("./fonts/Gotham-Light.otf");
  src: url("./fonts/Gotham-BookItalic.otf");
  src: url("./fonts/Gotham-ThinItalic.otf");
  src: url("./fonts/Gotham-Thin.otf");
  src: url("./fonts/GothamMedium.ttf");
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #130f0e;
  flex: 0 0 80%;
  color: #c0c0c0;
}
.jumbotron {
  background: linear-gradient(
    180deg,
    rgba(58, 8, 9, 1) 0%,
    rgba(19, 15, 14, 1) 100%
  );
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}
#sidebarMenu > ul {
  border: 0;
}
a {
  color: #c0c0c0;
}
#left-side {
  background-color: black;
  flex: 0 0 20%;
  height: 100vh;
  background-color: #000000;
}
#left-side a:hover {
  text-decoration: none;
  color: white;
}
#arrows {
  width: 20%;
  position: relative;
}
.col {
  width: 241px;
}
#right-side {
  width: 100%;
  color: white;
}
.card {
  width: 178.75px;
  height: 269.125px;
}
.card > img {
  width: 178.75px;
  height: 178.75px;
}
#spotifyPlay {
  padding-left: 25px;
  margin-left: 5vw;
  margin-top: -9vh;
  position: absolute;
}
i {
  text-decoration: none;
}

.card {
  margin: 1.5em;
  position: relative;
}
