@font-face {
  font-family: Gotham-Font;
  src: url("./fonts/Gotham-Bold.otf");
  src: url("./fonts/Gotham-BookItalic.otf");
  src: url("./fonts/GothamBold.ttf");
  src: url("./fonts/GothamBoldItalic.ttf");
  src: url("./fonts/Gotham-Light.otf");
  src: url("./fonts/Gotham-BookItalic.otf");
  src: url("./fonts/Gotham-ThinItalic.otf");
  src: url("./fonts/Gotham-Thin.otf");
  src: url("./fonts/GothamMedium.ttf");
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #130f0e;
  flex: 0 0 80%;
  color: #c0c0c0;
}
#homepageJumbotron {
  background: linear-gradient(
    180deg,
    rgba(58, 8, 9, 1) 0%,
    rgba(19, 15, 14, 1) 100%
  );
  padding-right: 28em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}
#sidebarMenu > ul {
  border: 0;
}
a {
  color: #c0c0c0;
}
#left-side {
  background-color: black;
  flex: 0 0 5%;
  height: auto;
  background-color: #000000;
  padding-bottom: 8em;
}
#left-side a:hover {
  text-decoration: none;
  color: white;
}
#arrows > div a {
  text-decoration: none;
}
#user{
  border: 1px solid white;
    border-radius: 255px;
    width: 90px;
    height: 30px;
}
#right-side {
  width: 100%;
  color: white;
}
#bottomCard {
  width: 178.75px;
  height: 269.125px;
}
#bottomCard > img {
  width: 178.75px;
  height: 178.75px;
}
#spotifyPlay {
  bottom: 0px;
  top: 120px;
  right: 10px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s linear;
}
i {
  text-decoration: none;
}

#bottomCard {
  margin: 1.5em;
  position: relative;
}
#bottomCard:hover div > #spotifyPlay,
#spotifyPlay:hover {
  top: 115px;
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.2s linear;
  z-index: 2;
}

#bottomCard > .card-body {
  color: black;
  text-align: center;
}
.allRows {
  padding-top: 20vh;
}
h3,
h6 {
  padding-left: 20px;
}
h6 {
  color: #c0c0c0;
}
#topCards {
  width: 388.5px;
  height: 64px;
}
#topCards > .card {
  width: 388.5px;
  height: 64px;
  background-color: rgba(40, 41, 45, 0.5);
}
#topCards > .card:hover {
  background-color: rgba(40, 41, 45, 0.9);
  transition: all 0.4s linear;
}

#topCards > .card > .row .col-md-8 > .card-body {
  width: 388.5;
  height: 64px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
