body {
  background-color: var(--bg-color);
  font-family: var(--font-GothamMedium);
  color: var(--text-color);
  height: 100vh;
}

.background-gray {
  /* background: linear-gradient(180deg,
      rgba(83, 83, 83, 0.5) 0%,
      rgba(19, 15, 14, 1) 100%); */
  position: absolute;
  top: 0;
  z-index: -1;
  height: 330px;
  width: 100%;
}

.container-fluid {
  padding-inline: 1.5em;
}

.horizontal-card-block {
  background-color: rgb(255 255 255/0.95);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(8px);
  border-radius: 4px;
}

.horizontal-card-block:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.media-img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.album-card {
  padding: 1em;
  background-color: #181818;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s linear;
}

.album-card:hover {
  background-color: #282828;
}

.card {
  background-color: transparent;
  border-width: 0;
}

.card-img-top {
  border-radius: 4px;
}

.card-text {
  font-size: 0.87rem;
}

.play-green-btn {
  width: 44px;
  height: 44px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 28%;
  opacity: 0;
  transition: all 0.3s linear;
}

.play-green-btn:hover {
  transform: scale(1);
}

.album-card:hover .play-green-btn {
  bottom: 30%;
  opacity: 1;
}
