@font-face {
  font-family: "GothamMedium";
  src: url("../Gotham-Font/GothamMedium.ttf") format("TrueType");
}

@font-face {
  font-family: "GothamBook";
  src: url("../Gotham-Font/GothamBook.ttf") format("TrueType");
}

@font-face {
  font-family: "GothamLight";
  src: url("../Gotham-Font/GothamLight.ttf") format("TrueType");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../Gotham-Font/Gotham-Bold.otf") format("OpenType");
}

:root {
  --font-GothamMedium: GothamMedium, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --font-GothamBook: GothamBook, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-GothamLight: GothamLight, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-Gotham-Bold: Gotham-Bold, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --bg-color: #121212;
  --active-font-color: #f8f8f8;
  --active-icon-fill: white;
  --icon-fill: rgb(193, 195, 198);
  --text-color: rgb(145, 148, 150);
  --neon-green: #5ff550;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-GothamMedium);
  color: var(--text-color);
  height: 100vh;
}

hr {
  background-color: #282828;
}
.padding-bottom {
  padding-bottom: 7em;
}
a {
  color: var(--text-color);
  transition: all 0.4s linear;
}

a:hover {
  color: var(--active-font-color);
  text-decoration: none;
}
.button-transparent {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}
.sidebar {
  flex: 0 0 20%;
  height: 100vh;
  background-color: #000000;
  position: sticky;
  top: 0;
}

.sidebar-song-list {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  font-family: var(--font-GothamMedium);
  font-size: 14px;
}

.sidebar-song-list li a {
  text-transform: capitalize;
}

.navbar {
  height: 100vh;
  padding: 1.5rem 1rem 1rem 1.5rem;
}

.header-logo {
  color: var(--active-font-color);
  font-size: 1.5em;
  font-family: var(--font-Gotham-Bold);
}

.bi::before {
  font-size: 25px;
}

#navbarText {
  font-family: var(--font-Gotham-Bold);
}

.nav-link {
  font-size: 0.87rem;
}

.main-content {
  flex: 0 0 80%;
}

.bi-arrow-left-circle-fill {
  fill: var(--active-font-color);
}

.content-jumbotron {
  /* background-image: url(../Assets/arijit\ singh.jfif); */
  height: 44vh;
  /* background-repeat: no-repeat;
  background-size: cover; */
  color: var(--active-font-color);
  position: relative;
}
.artist-big-img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.content-header {
  height: 8vh;
  margin-inline: 32px;
}

.arrow-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.content-heading {
  height: 98vh;
  padding-inline: 32px;
  padding-bottom: 32px;
}

h1 {
  font-family: var(--font-Gotham-Bold);
  font-size: 6rem;
}

/* ------------------------------------------------content-playlist */
.btn-follow-block {
  padding-inline: 2em;
  padding-block: 24px;
}

.play-green-btn {
  background-color: #1fdf64;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 2em;
  transition: all 0.1s linear;
}

.play-green-btn:hover {
  transform: scale(1.1);
}

.btn-outline-dark {
  border: 1px solid var(--text-color);
  color: var(--active-font-color);
  pointer-events: none;
  font-size: 12px;
  margin-right: 24px;
}

.btn-outline-dark:hover {
  border: 1px solid var(--active-font-color);
}

.more-btn {
  background-color: transparent;
  border-width: 0;
}

.more-btn:hover .more-svg {
  fill: var(--active-font-color);
}

h3 {
  padding-inline: 32px;
}

.player-track-block {
  padding-inline: 2em;
}

.player-track-list {
  padding-inline: 1em;
  padding-block: 0.5em;
  position: relative;
}

.player-track-list:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
}

.play-icon {
  position: absolute;
  left: 10px;
}

.heart-hover,
.more-btn2,
.play-icon {
  visibility: hidden;
}

.player-track-list:hover .heart-hover {
  visibility: visible;
}

.player-track-list:hover .more-btn2 {
  visibility: visible;
}

.player-track-list:hover .play-icon {
  visibility: visible;
}

.player-track-list:hover .track-num {
  visibility: hidden;
}

.artist-small {
  font-size: 0.87rem;
}

.track-title {
  font-size: 1rem;
}

.out-now {
  background-color: var(--active-font-color);
  color: #000000;
  font-size: 0.87rem;
  border-radius: 20px;
  padding: 2px 8px 2px 2px;
}

.artist-bg-img {
  border-radius: 50%;
}

/* ----------------------------------------------------------------------Player */
.player {
  height: 90px;
  background-color: #181818;
  border-top: 1px solid #282828;
  z-index: 2;
}

.player-track {
  font-size: 0.87rem;
}

.player-track-artist {
  font-size: 0.7rem;
}
.music-play-btn {
  border-radius: 50%;
  width: 34px;
  height: 34px;
}
.audio-time {
  font-size: 12px;
}
.player-progress-bar {
  height: 3px;
  background-color: #c3c3c4;
}

@media screen and (min-width: 768px) {
  .medium-screen-p {
    padding-inline: 32px;
    /* margin-top: 10px; */
  }
}

@media screen and (min-width: 576px) {
  .medium-screen-p {
    padding-left: 32px;
    padding-right: 16px;
    /* margin-top: 10px; */
  }
}

@media screen and (max-width: 576px) {
  .medium-screen-p {
    padding-left: 32px;
    padding-right: 8px;
    margin-top: 10px;
  }
}
