@font-face {
    font-family: "GothamMedium";
    src: url("../Gotham-Font/GothamMedium.ttf") format("TrueType");
}

@font-face {
    font-family: "GothamBook";
    src: url("../Gotham-Font/GothamBook.ttf") format("TrueType");
}

@font-face {
    font-family: "GothamLight";
    src: url("../Gotham-Font/GothamLight.ttf") format("TrueType");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../Gotham-Font/Gotham-Bold.otf") format("OpenType");
}


:root {
    --font-GothamMedium: GothamMedium, Georgia, Cambria, "Times New Roman", Times,
        serif;

    --font-GothamBook: GothamBook, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-GothamLight: GothamLight, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    --font-Gotham-Bold: Gotham-Bold, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    --bg-color: rgb(18, 18, 18);
    --active-font-color: #f8f8f8;
    --active-icon-fill: white;
    --icon-fill: rgb(193, 195, 198);
    --text-color: rgb(145, 148, 150);
    --neon-green: #5ff550;
}




.container-fluid {
    color: white;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
}


.sidebar {
    flex: 0 0 20%;
    height: 100vh;
    background-color: #000000;
    position: sticky;
    top: 0;
}

.sidebar-song-list {
    list-style-type: none;
    margin-block: 0;
    padding-inline-start: 0;
    font-family: var(--font-GothamMedium);
    font-size: 14px;
}

.sidebar-song-list li a {
    text-transform: capitalize;
}

.navbar {
    height: 100vh;
    padding: 1.5rem 1rem 1rem 1.5rem;
}


tr {
    color: white;
}


.table-hover tbody tr:hover {
    color: white
}

.side-navbar {
    flex: 0 0 241px;
    background-color: black;
    z-index: 3;
}

h1 {
    font-size: 3rem;
}



.header-part {
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 51%, rgba(111, 111, 111, 1) 100%);
}

.artist-picture {
    width: 30px;
    border-radius: 30px;
}

th:last-child,
td:last-child,
th:nth-last-child(1),
td:nth-last-child(1) {
    text-align: right;
}

.album-img {
    max-width: 300px;
}

i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
}

i:hover {
    color: white;
}

.bi-play-circle-fill {
    color: rgb(30 215 96);
    font-size: 50px;
}

.bi-play-circle-fill:hover {
    color: rgb(30 215 96);
    transform: scale(1.1);
}


.stopwatchIcon {
    font-size: 20px;
}

.time-span {
    color: rgba(255, 255, 255, 0.5);

}

a {
    color: white;
}

a:hover {
    color: white;
}

a.track-list {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
}

.header-tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
}

.bi-play-fill {
    font-size: 20px;
}

th:first-of-type {
    width: 50px;
}

.bi-play-fill {
    color: white;
}

.table-hover tbody tr:hover {

    background-color: hsla(0, 0%, 100%, 0.1);

}

.header-row {
    background-color: #5ff550;
}

.row.pt-5 {
    background: linear-gradient(rgb(152, 152, 152), rgb(56, 56, 56));

}